.nav{
    background-color: darkslateblue;
    color: white;
}
body::-webkit-scrollbar{
    width: 0px;
}
.forgot{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.forgot:hover{
    color: black;
    text-decoration:none ;
}
.LOGIN{
    background-color: darkslateblue !important;
    color: white !important;
}
.admin{
    text-decoration: none;
}
.brand{
    font-size: 1.2rem;
}

.login-student{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('Students.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px);
}
.register-student{
    background-image: url('register.jpg');
    background-size: cover;
    background-position: center;
}

